h1 {
  font-family: "Noto Sans TC", sans-serif;
  color: #548ca8;
  font-size: 48px;
  line-height: 1.5;
}
ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
li {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #334257;
  position: relative;
  top: 4px;
}
small {
  font-family: "B612 Mono", monospace;
  font-size: 8px;
  color: #476072;
}
a {
  color: #548ca8;
}
a:hover {
  color: #548ca8;
}
.container {
  max-width: 800px;
}
.app-wrapping {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin: 30px auto 10px auto;
  padding: 20px;
}
.video-container {
  height: 150px;
  display: block;
  width: 758px;
  overflow: hidden;
  margin-bottom: 20px;
}
.search-bar {
  margin-bottom: 40px;
  line-height: 3;
  font-size: 12px;
  font-family: "Noto Sans TC", sans-serif;
}
.current-temp {
  line-height: 1;
  margin-bottom: 50px;
}
.current-temp img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.current-temp strong {
  font-size: 65px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #476072;
}
.current-temp a {
  font-size: 14px;
  font-family: "Noto Sans TC", sans-serif;
}
.current-temp-unit {
  position: relative;
  top: -34px;
  color: #548ca8;
  text-decoration: none;
}
.current-temp-unit .units {
  text-decoration: none;
}

current-temp-unit .units :hover {
  text-decoration: underline;
}
.current-temp-unit .active {
  color: #476072;
  text-decoration: none;
  cursor: default;
}
.weather-forecast {
  text-align: center;
}
.forecast-day {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #334257;
  line-height: 2;
}
.forecast-temp {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  line-height: 2;
}
.forecast-temp-max {
  color: #476072;
}
.forecast-temp-min {
  color: #548ca8;
}
#placeholder-text {
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #548ca8;
}
#submit-button {
  width: 100%;
  border: 1px solid #476072;
  border-radius: 5px;
  background-color: #548ca8;
  color: #ffffff;
}
#current-geo-location {
  color: #548ca8;
  font-size: 10px;
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
  left: 5px;
}
#current-geo-location:hover {
  text-decoration: underline;
  cursor: pointer;
}
#current-icon {
  position: relative;
  top: -15px;
}
#description {
  text-transform: capitalize;
}
